.tituloMiPerfil {
  font-size: 4vh;
  padding: 2vh;
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.flechaAtras {
  position: absolute;
  margin: 3vh;
  margin-left: 5vh;
  height: 3vh;
}
